{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
	<meta charset="utf-8">
	<title>{% block titulo %} {% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'img/libros.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
	<header>
		<h3>{% block cabecera %} {% endblock %}</h3>
		<nav>
			<ul>
				<li><a href="{% url 'inicio' %}">Inicio</a></li>
				<li><a href="{% url 'registro' %}">Registro</a></li>
				<li><a href="{% url 'sobre' %}">Sobre</a></li>
				<li><a href="{% url 'contacto' %}">Contacto</a></li>
				{% if request.user.is_anonymous %}
				
					<li><a href="{% url 'ingresar' %}">Ingresar</a></li>
				{% else %}
				
				<li><a href="{% url 'salir' %}">Salir</a></li>
				
				{% endif %}
			</ul>
		</nav>
		<form id="busqueda" method="get" action="/buscar/">
			<input type="text" name="busca">
			<input type="submit" value="Búsqueda">
		</form>
	</header>
    <section>
    	{% block contenido %} {% endblock %}	
    </section>
	<footer>
		{% block pie %}
		Proyecto Curso Python &copy; 2020	
		{% endblock %}
	</footer>

</body>
</html>